{% extends "layout.html" %}
{% block content %}
<div class="container mt-3">
  <h2>{{case.case_title}}</h2>
  {% for row2 in users_join %}
  <p> Posted By {{row2.user_first_name}} {{row2.user_last_name}} {% endfor %}<br> Posted By User ID {{case.user_id}} <br> Case Id: {{case.case_id}}<br>Case Opened: {{case.case_open_date}}<br>Case Closed: {{case.case_close_date}}<br>Case Priority: {{case.case_priority}}<br>Case State: {{case.case_state}}<br>Description: {{case.case_text}}</p>
  <div class="media border p-3">
    <!<img src="img_avatar3.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
    <div class="media-body">

      <div class="media p-3">
        <!<img src="img_avatar2.png" alt="Jane Doe" class="mr-3 mt-3 rounded-circle" style="width:45px;">
        <div class="media-body">
          {% for row in replies %}
            <h4>  {{users[loop.index0].user_first_name}}     <small><i>{{row.user_id}} Posted on </i>{{row.reply_date}}</small></h4>
            <p>{{row.reply_text}}</p>
          {% if row.user_id == current_user.user_id %}
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_reply', reply_id=row.reply_id) }}">Update</a>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

        {% if case.user_id == current_user.user_id %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_case', case_id=users_join.case_id) }}">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>
        {% endif %}
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Case?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action="{{ url_for('delete_case', case_id=case.case_id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}