{% extends "layout.html" %}
{% block content %}

<div class="container">
  <h2>Issue Tracker Software</h2>
  <p>Here are some cases for you to view today!</p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Case ID</th>
        <th>Case Title</th>
        <th>Date </th>
        <th>Project </th>
        <th>User</th>
        <th>Team Name</th>
        <th>Status</th>
        <th>Reply</th>
        <th>Delete</th>
          <th>Update</th>
      </tr>
    </thead>
    <tbody>
    {% for row2 in cases_join %}
      <tr>
        <td>{{row2.case_id}}</td>
        <td>{{row2.case_title}}</td>
        <td>{{row2.case_open_date.strftime('%Y-%m-%d')}}</td>
        <td>{{row2.project_title}}</td>
        <td>{{row2.user_first_name}} {{row2.user_last_name}} </td>
        <td>{{row2.team_name}}</td>
        <td>{{row2.case_state}}</td>
        <td> <a href="{{ url_for('case', case_id=row2.case_id) }}"> Reply </a></td>
        {% if row2.user_id == current_user.user_id %}
                <td> <a href="{{ url_for('delete_case', case_id=row2.case_id) }}"> Delete </a></td>
        {% endif %}
          {% if row2.user_id == current_user.user_id %}
                <td> <a href="{{ url_for('update_case', case_id=row2.case_id) }}"> Update </a></td>
          {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}