{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.case_title.label(class="form-control-label") }}
                {% if form.case_title.errors %}
                    {{ form.case_title(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.case_title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.case_title(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.case_open_date.label(class="form-control-label") }}
                {% if form.case_open_date.errors %}
                    {{ form.case_open_date(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.case_open_date.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.case_open_date(class="form-control form-control-lg") }}
                {% endif %}
            </div>

                        <div class="form-group">
                {{ form.case_close_date.label(class="form-control-label") }}
                {% if form.case_close_date.errors %}
                    {{ form.case_close_date(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.case_close_date.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.case_close_date(class="form-control form-control-lg") }}
                {% endif %}
            </div>


            <div class="form-group">
                {{ form.case_state.label(class="form-control-label") }}
                {{ form.case_state(class="form-control form-control-lg") }}
            </div>


            <div class="form-group">
                {{ form.case_priority.label(class="form-control-label") }}
                {% if form.case_priority.errors %}
                    {{ form.case_priority(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.case_priority.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.case_priority(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.case_text.label(class="form-control-label") }}
                {% if form.case_text.errors %}
                    {{ form.case_text(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.case_text.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.case_text(class="form-control form-control-lg") }}
                {% endif %}
            </div>
              <div class="form-group">
                {{ form.team_id.label(class="form-control-label") }}
                {% if form.team_id.errors %}
                    {{ form.team_id(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.team_id.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.team_id(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.project_id.label(class="form-control-label") }}
                {% if form.project_id.errors %}
                    {{ form.project_id(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.project_id.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.project_id(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}