{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.case_id.label(class="form-control-label") }}
                {% if form.case_id.errors %}
                    {{ form.case_id(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.case_id.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.case_id(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.project_id.label(class="form-control-label") }}
                {% if form.project_id.errors %}
                    {{ form.project_id(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.project_id.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.project_id(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>

        <div class="card" style="width: 18rem;">
  <div class="card-header">
    Project ID References.
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">1. Intrusion Detection</li>
    <li class="list-group-item">2. Database Programming</li>
    <li class="list-group-item">3. Project Management</li>
  </ul>
</div>

    </form>
</div>
{% endblock content %}